# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env/
env/
*.sqlite3
*.db

# Environment variables & Secrets
.env
.env.*
!.env.example

# OS / Systems
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
